[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiSemble"]
	path = EpiSemble
	url = https://github.com/cran/EpiSemble
[submodule "GB5mcPred"]
	path = GB5mcPred
	url = https://github.com/cran/GB5mcPred
[submodule "metaCluster"]
	path = metaCluster
	url = https://github.com/cran/metaCluster
